  <h1>Angular2 Spring Stomp Protocol demo</h1>
  <div>
    <span>Enter some text:</span> <input type="text" name="inputField" [(ngModel)]="inputField" />
    <button (click)="send()">SEND</button>
  </div>
  <span>Server replied with: {{serverResponse}} </span>